body {
    text-align: center;
    font-family: 'Bradley Hand', 'Bradley Hand ITC', cursive;
    font-size: 17px;
    font-weight: bold;
}
.home-page {
    background-color: #ffffff;
    color:rgb(0, 0, 0);
    margin-left: 1cm;
}
.drawings-head {
    color:#0b45c0
}
.projects-head {
    color: #be0b0b
}
.recipes-head {
    color: #e78e09
}
.reci-head {
    -webkit-text-stroke: 1px rgb(179, 53, 3);
}
.reci-page {
    color: #ffffff;
    background-image: url("recipes-background.png");
    background-repeat: no-repeat;
     background-size: cover;
}
.reci-button {
    color: rgb(179, 53, 3);
    font-family: 'Courier New', Courier, monospace;
}
.draw-head {
    -webkit-text-stroke: 1px rgb(18, 6, 124);
}
.draw-page {
    color: #ffffff;
    background-image: url("drawings-background.png");
    background-repeat: no-repeat;
     background-size: cover;
}
.draw-button {
    color: rgb(18, 6, 124);
    font-family: 'Courier New', Courier, monospace;
}
.proj-head {
    -webkit-text-stroke: 1px rgb(124, 6, 16);
}
.proj-page {
    color: #ffffff;
    background-image: url("projects-background.png");
    background-repeat: no-repeat;
     background-size: cover;
}
.proj-button {
    color: rgb(124, 6, 16);
    font-family: 'Courier New', Courier, monospace;
}
